@charset "utf-8";

/* Base colors */
:root {
    --white: #ffffff;
    --black: #000000;
    --pink: #af37a6;
    --light-pink: #f4abef;
    --dark-pink: #95148a;
    --blue: #2692d2;
    --light-blue: #EBF4FA;
    --gray: #333638;
}

body {
    background-color: var(--white);
    background-image: url(images-sist/bg-line.png);
    background-repeat: repeat;
    background-position: center top;
    margin: 0;
}

.white-text, .menu-background, .white-link, .pink-text, .menu-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: var(--white);
}

.pink-text, .pink-cell, .bold-pink-cell {
    background-color: #d976d2;
    padding: 2px 10px;
}

.text-field, .input-area, .bordered-white-cell, .bordered-white-cell-left, .bordered-white-cell-right, .bordered-white-cell-center {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: var(--dark-pink);
    background-color: var(--light-pink);
    border: 1px solid var(--pink);
    height: 20px;
}

.white-link, .pink-link, .blue-text-small, .blue-text-large, .menu-link {
    text-decoration: none;
    font-weight: bold;
}

.white-link:hover, .subtitle:hover, .small-subtitle:hover, .pink-link:hover, .menu-link:hover {
    text-decoration: underline;
}

.internal-background {
    background-image: url(images-sist/bg-int.png);
    background-repeat: repeat-y;
    background-position: left top;
}

.titles {
    font-size: 24px;
}

.subtitle, .small-subtitle, .light-blue-text, .light-blue-cell {
    color: var(--blue);
    background-color: var(--light-blue);
}

.pink-bordered-cell {
    background-color: #EFD6ED;
    border: 1px solid var(--dark-pink);
    padding: 10px;
}

.white-cell {
    background-color: var(--white);
    color: var(--dark-pink);
}

.line-background {
    background-image: url(/EAV/images-sist/linea.gif);
    background-repeat: repeat-x;
    background-position: left center;
}

.text-field-table, .simple-pink-text {
    color: var(--dark-pink);
    border: 1px solid var(--white);
    height: 15px;
}
