<!DOCTYPE html>
<html lang="es">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Intranet - CONDOR CLEANING & MAINTENANCE</title>
<link href="Home.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <div class="header-wrapper">
    <iframe src="../components/header.html" frameborder="0" scrolling="no"></iframe>
    </div>
    
    <div class="login-wrapper">
            <div class="login-header">
                <img src="./images-sist/logo/logo.webp" alt="Logo de Condor Cleaning">
            </div>
        <div class="login-form">
            <h2>Intranet</h2>
            <% 
            Dim P_User, P_Pass, P_Message
            P_User = Request("P_USER")
            P_Pass = Request("P_PASS")
            P_Message = Request.QueryString("p_message")
            %>
            <form id="login-form" action="Home_Action.asp" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="P_USER" value="<%=P_User%>" maxlength="8" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="P_PASS" maxlength="8" required>
                </div>
                <% If P_Message = 1 Then %>
                    <p>Error: Invalid Username or Password</p>
                <% End If %>
                <div class="form-actions">
                    <button type="submit">Sign In</button>
                </div>
                <a href="./pages/Intranet.html" class="forgot-password">Forgot Password?</a>
            </form>
        </div>
        <address>
            1035 Coleman Rd 7306<br>
            San Jose, California 95123<br>
            Phone/Fax: 1 (800) 815-0671
        </address>
        <a href="https://www.condorcleaning.net" class="external-link" style="text-decoration: underline;">
            Visit Website <img src="images-sist/SVG/web.svg" alt="Website">
        </a>
    </div>
</html>


