<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <!-- Enlace al archivo CSS del header -->
    <link rel="stylesheet" type="text/css" href="header.css">
</head>
<body>

<!-- Contenido del encabezado -->
<header>     
    <div class="header-container">
        <div class="header-left">
            <img src="../images-sist/icons/button-01.png" alt="Pulgar_Logo">
            <span>We're Available 24/7</span>
        </div>
        <div class="header-center">
            <img src="../images-sist/icons/buttom-02.png" alt="Tuerca_Logo">
            <div>
              <span>Serving San Francisco - Bay Area - East Bay and San Jose, CA.</span>
              <br>
              <span>Established since 2007.</span>
            </div>
        </div>
        <div class="header-right">
            <img src="../images-sist/icons/buttom-03.png" alt="Telefono_Logo">
            <span>Call Us +1 (408) 807 0738</span>
        </div>
        <div class="header-buttom">
            <button class="schedule-button">SCHEDULE SERVICES</button>
        </div>
    </div>
</header>

</body>
</html>
