<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nav</title>
    <!-- Enlace al archivo CSS del header -->
    <link rel="stylesheet" type="text/css" href="nav.css">
</head>
<body>

<nav>
    <div class="logo-container">
      <a href="../Home.html">
        <img src="../images-sist/logo/logo_condor_white.webp" alt="Inicio" class="logo" />
      </a>
    </div>
    <nav id="main-navbar">
        <ul class="navbar-list">
          <!-- Primera fila de enlaces -->
          <li class="navbar-item">
            <a href="../pages/Intranet.html" class="nav-link" target="_blank">Home</a>
          </li>
          <li class="navbar-item">
            <a href="../pages/Service_Agreement.html" class="nav-link" target="_blank"
              >Service Agreement</a
            >
          </li>
          <li class="navbar-item">
            <a href="../pages/Service_Outline.html" class="nav-link" target="_blank">Service Outline</a>
          </li>
          <li class="navbar-item">
            <a href="../pages/Staff.html" class="nav-link" target="_blank">Staff</a>
          </li>
          <li class="navbar-item">
            <a href="../pages/Prod_Equip.html" class="nav-link" target="_blank">Products & Equipment</a>
          </li>
      
          <!-- Segunda fila de enlaces -->
          <li class="navbar-item">
            <a href="../pages/Request.html" class="nav-link" target="_blank">Request</a>
          </li>
          <li class="navbar-item">
            <a href="../pages/Invoices.html" class="nav-link" target="_blank">Invoices</a>
          </li>
          <li class="navbar-item">
            <a href="../pages/Maintenance.html" class="nav-link" target="_blank"
              >Maintance</a
            >
          </li>
          <li class="navbar-item">
            <a href="../pages/Inventory.html" class="nav-link" target="_blank">Inventory</a>
          </li>
          <li class="navbar-item">
            <a href="../pages/MarketPlace.html" class="nav-link" target="_blank">Marketplace</a>
          </li>
        </ul>
      </nav>
      <a href="https://condorcleaning.condorcleaning.net/" class="nav-link exit-link" target="_blank">
        <img src="../images-sist/SVG/exit.svg" alt="LogOFF" />
        Logout
    </a>        
</nav>

</body>
</html>