<!DOCTYPE html>
<html lang="en" style="width:100%; height:100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Intranet - CONDOR CLEANING & MAINTENANCE</title>
    <link href="pages.css" rel="stylesheet" type="text/css">
</head>
<body>
<%
    p_user = Request.cookies("isLoggedInAs")("username")
    Set SNewsSet = Server.CreateObject("ADODB.RECORDSET")
    StrSql = "SELECT * FROM CON_Cliente_Com WHERE Cli_User = '" & p_user & "' ;--"
    SNewsSet.Open StrSql, Session("BDREGI_ConnectionString")
    
    If Not SNewsSet.EOF Then 
        p_Name = SNewsSet("Cli_Representa")
        p_user_cod = SNewsSet("Cli_cod")
        p_company = SNewsSet("Com_cod")
        p_Access = SNewsSet("user_access")
%>
<!-- Header -->
<div class="header-wrapper">
  <iframe src="../components/header.html" frameborder="0" scrolling="no"></iframe>
</div>
 <!-- Nav -->
<div class="nav-wrapper">
  <iframe src="../components/nav.html" frameborder="0" scrolling="no"></iframe>
</div>

<main>
    <div class="main-container">
        <form action="Stock_IN.asp" method="post">
            <label for="p_company">Company:</label>
            <select name="p_company" class="textFieldFgris">
                <% Set PaisSet = Server.CreateObject("ADODB.RECORDSET")
                   StrSql = "SELECT * FROM CON_Cliente_com WHERE Cli_User = '" & p_user & "' AND Com_Select = '0' ORDER BY Com_Descri;--"
                   PaisSet.Open StrSql, Session("BDREGI_ConnectionString"), adOpenStatic, adLockPessimistic, adCmdText
                   While Not PaisSet.EOF
                       Response.Write "<option value='" & PaisSet("com_cod") & "'" & (IIf(cInt(PaisSet("com_cod")) = cInt(p_company), " selected", "")) & ">" & PaisSet("com_descri")
                       PaisSet.MoveNext
                   Wend
                   PaisSet.Close
                %>
            </select>
            <input type="submit" value="Display" class="boton">
        </form>
        <% If p_Access > 6 Then %>
        <table>
            <thead>
                <tr>
                    <th>Delivery Number</th>
                    <th>Delivery Date</th>
                    <th>Company</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Delivery PDF</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% Set tableSet = Server.CreateObject("ADODB.RECORDSET")
                   StrSql = "SELECT * FROM CON_Stocks_IN_View1 WHERE Com_Code = '" & p_company & "' ORDER BY Movi_Date DESC, Movi_Invoice DESC;--"
                   tableSet.Open StrSql, Session("BDREGI_ConnectionString"), adOpenStatic, adLockReadOnly
                   While Not tableSet.EOF %>
                <tr>
                    <td><%=tableSet("Movi_Invoice")%></td>
                    <td><%=tableSet("Movi_Date")%></td>
                    <td><%=tableSet("Com_Descri")%></td>
                    <td><%=tableSet("Prod_Name")%></td>
                    <td><%=tableSet("Movi_quantity")%></td>
                    <td><a href="<%=tableSet("Movi_File")%>" target="_blank"><%=tableSet("Movi_File")%></a></td>
                    <td><%=tableSet("Movi_Status") = 0 ? "Confirmed" : (tableSet("Movi_Status") = 1 ? "Delivered" : "Pending")%></td>
                </tr>
                <% tableSet.MoveNext
                Wend
                tableSet.Close
                %>
            </tbody>
        </table>
        <% End If %>
    </div>
</main>
<% Else %>
<p>No records found.</p>
<% End If %>

<!-- Footer -->
<footer>
  <iframe src="../components/footer.html" frameborder="0" scrolling="no"></iframe>
</footer>   
</body>
<script src="../resizeIframe.js"></script>
</html>
