@charset "utf-8";
body {
	background-color: #222222;
	background-image: url(images-sist/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.texto-blanco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.text-field {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #af37a6;
	background-color: #f4abef;
	border: 1px solid #af37a6;
	height: 20px;
}
.texto-rosado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.link-blanco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.link-blanco:hover {
	text-decoration: underline;
}
.bg-int {
	background-image: url(images-sist/bg-int.png);
	background-repeat: repeat-y;
	background-position: left top;
}
.bg-menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-image: url(images-sist/bg-menu.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 26px;
}
.texto-rosado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	padding-left: 15px;
}
.area {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #95148a;
	border: 1px solid #95148a;
}

.link-rosado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.titulos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
}
.texto-celeste {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.celda-rosada {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #d976d2;
	text-align: left;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	font-weight: bold;
}
.celda-blanca-procesa {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #95148a;
	border: 1px solid #95148a;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}
.celda-blanca {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #95148A;
}

.celda-rosada1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #d976d2;
	text-align: center;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-weight: bold;
}
.subtitulos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #2692d2;
}
.TextoAzul11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2692d2;
}
.celda-rosado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #95148a;
	background-color: #EFD6ED;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #95148a;
}
.celda-celeste {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2692D2;
	background-color: #EBF4FA;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #2692D2;
}
.celda-rosada-procesa {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #95148a;
	background-color: #FADCF8;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: 1px solid #95148a;
}


.celda-blanca1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #95148a;
	background-color: #FFFFFF;
	text-align: left;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}
.celda-blanca1-r {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #95148a;
	background-color: #FFFFFF;
	text-align: right;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}
.celda-blanca1-c {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #95148a;
	background-color: #FFFFFF;
	text-align: center;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}
.link-rosado:hover {
	color: #E43AD8;
	text-decoration: none;
}
.linea {
	background-image: url(/EAV/images-sist/linea.gif);
	background-repeat: repeat-x;
	background-position: left center;
}
.link-menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.link-menu:hover {
	color: #95148a;
	text-decoration: none;
}
.text-field-tablas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #95148A;
	border: 1px solid #FFFFFF;
	height: 15px;
}
.texto-rosado-simple {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #95148a;
}

