body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 70px;
    background-color: #078bbd;
    color: #1b557d;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    width: 100%;
  }
  
  /*Header*/
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #0089ba;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .header-left span,
  .header-center span,
  .header-right span,
  .schedule-button {
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #0089ba;
    color: #ffffff;
  }
  
  .header-left,
  .header-center,
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-center > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
  }
  
  .header-center img {
    margin-right: 10px;
  }
  
  .contact-text {
    margin-right: 20px;
  }
  
  .schedule-button {
    margin-left: 10px;
    background-color: #e11d48;
    color: #ffffff;
    border: none;
    border-radius: 2.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .schedule-button:hover {
    background-color: #ffffff;
    color: #e11d48;
    transform: scale(1.1);

  }
  
  /* Nav */
  .nav-container {
    display: flex;
    width: 100%;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: auto;
    width: 120px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar-list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
  }
  
  .navbar-item {
    padding: 0 10px;
  }

  .navbar-item:hover {
    color: #e11d48; /* Define the red color */
    transform: scale(1.1); /* Increase the size of the element on hover */
    cursor: pointer;
  }

  .nav-link {
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s; /* Add a transition for the transform property */
  }
  
  .nav-link:hover {
    color: #e11d48; /* Define the red color */
    transform: scale(1.1); /* Increase the size of the element on hover */
    cursor: pointer;
  }
  
  .logo-link img {
    width: 24px;
    height: auto;
  }
  
  .main-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .links-flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  .flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .flex-item img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .flex-item p {
    color: #1b557d;
  }
  
  .flex-item.log-off {
    flex-basis: 100%;
    order: 1;
  }
  
  /*Footer */
  footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
  }
  
  .footer-cotainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;
    text-align: center;
    width: 75%;
  }
  
  .admin-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: none;
  }
  
  .admin-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: none;
  }
  
  .admin-section {
    background-color: transparent;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .admin-section h4 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .menu-link {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .menu-link:hover {
    color: #007bff;
    background-color: transparent;
    text-decoration: none;
  }
  
  address {
    margin-top: 20px;
    font-style: normal;
    color: #fff;
    font-size: 0.8em;
    width: 100%;
  }
  
  .parent-container {
    display: grid;
    place-items: center;
    width: 100%;
  }
  
  .external-link,
  .external-link img {
    filter: none;
  }

  /*Lados- Footer*/
  .logo-dark {
    width: 100%; /* Esto hará que el logo tome toda la anchura disponible, puede ser demasiado grande dependiendo del contenedor */
    max-width: 200px; /* Esto está bien, limitará el tamaño máximo */
    margin: 0 auto; /* Centra el logo horizontalmente dentro de su contenedor */
  }

  .social-media {
    display: flex;
    justify-content: left;
  }

  .social-icon {
  width: 32px;
  height: 32px;
  fill: #333;
  margin: 0 10px;
  transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .social-icon:hover {
  fill: #4CAF50;
  cursor: pointer;
  transform: rotate(360deg);
  }

  .info-block {
  border-top: 1px; /* Añadido 'solid #444' para definir estilo y color */
  padding-top: 20px;
  }

  .info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  }

  .info-item p {
  margin: 0;
  line-height: 1.5;
  font-size: 0.9em; /* Adjust font size as needed */
  }

  .icon-formal {
  flex-shrink: 0;
  width: 24px; /* or the size you prefer */
  height: auto;
  margin-right: 10px;
  max-width: 100%; /* Limita el tamaño de los iconos SVG */
  transition: transform 0.2s ease-in-out; /* Add a transition for a smooth animation */
  }

  .icon-formal:hover {
    transform: scale(1.5); /* Asegúrate de que este efecto no rompa tu diseño */
    cursor: pointer;
  }

  
  @media (max-width: 768px) {
    body {
      padding-top: 60px;
    }
  
    .header-container {
      flex-direction: column;
      padding: 0.5rem;
    }
  
    .header-left,
    .header-center,
    .header-right {
      width: 100%;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .contact-text,
    .schedule-button {
      margin: 0;
    }
  
    .schedule-button {
      width: auto;
    }
  
    .navbar-list {
      flex-direction: column;
    }
  
    .navbar-item {
      padding: 5px 0;
    }
  
    .logo-link {
      flex: 0 0 80px;
    }
  
    .admin-container {
      flex-direction: column;
    }
  
    .admin-column {
      flex-basis: 100%;
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    body {
      padding-top: 50px;
    }
  
    .header-left,
    .header-center,
    .header-right {
      padding: 0 10px;
      flex-direction: column;
      align-items: center;
}
  
    .header-center > div,
    .header-right {
      align-items: center;
    }
  
    .schedule-button {
      width: 100%;
      padding: 10px;
    }
  
    .logo {
      width: 100px;
    }
  
    .links-flex-container {
      grid-template-columns: 1fr;
    }
  
    .external-link {
      font-size: 0.85em;
    }
  }